.Text1{
   margin-left: 340px;
   visibility: hidden;
}

.Text2{
    margin-left: 340px;
    visibility: hidden;
 }

 .Text3{
    margin-left: 340px;
    visibility: hidden;
 }

 .Text4{
    margin-left: 340px;
    visibility: hidden;
 }

 
 .Text5{
    margin-left: 340px;
    visibility: hidden;
 }

 .Text6{
    margin-left: 340px;
    visibility: hidden;
 }

 .Text7{
    margin-left: 340px;
    visibility: hidden;
 }